<ion-view view-title="View Report">
	<ion-nav-buttons side="right">
		<a class="button button-clear icon-right ion-android-create" ng-click="useTemplateClicked()">Use as Template</a>
	</ion-nav-buttons>
	<ion-content>
		<div class="list">
			<div class="item" id="sumcat1">Cloud Cover:</div>
			<div class="item" id="sumcat2">Precipitation:</div>
			<div class="item" id="sumcat3">Visibility:</div>
			<div class="item" id="sumcat4_1">Pressure Trend:</div>
			<div class="item" id="sumcat4_2">Surface Pressure:</div>
			<div class="item" id="sumcat5">Surface Temperature:</div>
			<div class="item" id="sumcat6">Wind Speed:</div>
			<div class="item" id="sumcat6_3">Wind Direction:</div>
			<div class="item" id="sumcat9">Other:</div>
			<div class="item multiline" id="sumcat7">Notes:</div>
			<div class="item" id="sumcat8">
				<img src=""></img>
			</div>
	</ion-content>
</ion-view>