<ion-view view-title="ACE" name="login-view" hide-nav-bar="true">
  <ion-content class="padding" style="background: url('img/ace_login_screen.jpg') left top fixed; -webkit-background-size: cover; background-size: cover;">
      <div class="list list-inset" style="position: absolute; bottom: 60px; width: 100%">
          <label class="item item-input">
              <input type="text" placeholder="{{'USERNAME' | translate}}"" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()" style="position: absolute; bottom: 10px">{{'LOGIN' | translate}}</button>
  </ion-content>
</ion-view>