<ion-view view-title="{{'SELECT_LANGUAGE' | translate}}">
  <ion-nav-buttons side="left">
    <!--<button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>-->
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
        <ion-radio ng-repeat="language in languages" ng-value="language.value" ng-model="languageSettings.language" ng-change="languageChanged()">
            {{language.name}}
        </ion-radio>
      <!--<label class="item item-radio">
		  <input type="radio" name="languageGroup" ng-model="languageSettings.language" ng-value="en">
		  <div class="item-content">
			  English
		  </div>
		  <i class="radio-icon ion-checkmark"></i>
	  </label>  
	  <label class="item item-radio">
		  <input type="radio" name="languageGroup" ng-model="languageSettings.language" ng-value="fr">
		  <div class="item-content">
			  Français
		  </div>
		  <i class="radio-icon ion-checkmark"></i>
	  </label>-->
    </ion-list>
  </ion-content>
</ion-view>