<ion-view view-title="Map">
  <ion-nav-buttons side="left">
    <button class="button button-icon ion-navicon" ng-click="toggleLeft()"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <i class="button button-icon ion-android-navigate" id="followBtn" ng-click="toggleFollowPosition()"></i>
    <button class="button button-icon ion-android-locate" ng-click="centerOnPosition()"></button>
    <button class="button button-icon ion-android-more-vertical" ng-click="openOptionsMenu($event)"></button>
  </ion-nav-buttons>
  <ion-content>
    <div id="map_canvas" data-tap-disabled="true" class="google-map-canvas"></div>
    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->
  </ion-content>
</ion-view>

