# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
#plugins/

platforms/android/.gradle

# Ignore generated documentation
docs/

# Ignore bower library location (vcs handled by bower)
www/lib/

# Visual Studio Code settings files
.settings/