<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{'CAMERA' | translate}}</h1>
	</ion-header-bar>
	
	<ion-content>
		
		<div class="row" style="margin: auto">
			<button class="button button-block icon-left ion-android-camera" style="display: inline; margin: 5%" ng-click="takePic()">{{'TAKE_PICTURE' | translate}}</button>	
		</div>
		<div class="row" style="margin: auto">
			<button class="button button-block icon-left ion-android-film" style="display: inline; margin: 5%" ng-click="takeVid()">{{'TAKE_VIDEO' | translate}}</button>
		</div>
		<div class="row" style="margin: auto">
			<button class="button button-block icon-left ion-android-image" style="display: inline; margin: 5%" ng-click="selectPic()">{{'ATTACH_PHOTO' | translate}}</button>
		</div>
		<div class="row" style="margin: auto">
			<button id="openAttachmentButton" class="button icon-left ion-android-attach" style="margin: auto;" ng-click="openAttachment()">Open Attachment</button>
			<div style="margin: auto; display: none" id="fileNameContainer"><div>Attached File:  </div> <div id="fileNameField"></div></div>
		</div>
			
	</ion-content>
	<ion-footer-bar keyboard-attach>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal8()">{{'CANCEL' | translate}}</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal8()">{{'SAVE' | translate}}</button>
	</ion-footer-bar> 
</ion-modal-view>