<div class="modal">
	<ion-header-bar>
		<h1 class="title">Cloud Cover</h1>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt1')" id="1opt1">
				<img src="img/no_clouds.png" class="report-image"></img>
        		<div class="report-title">No Clouds</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt2')" id="1opt2">
				<img src="img/one_eighth_clouds.png" class="report-image"></img>
        		<div class="report-title">1/8th</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt3')" id="1opt3">
				<img src="img/two_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">2/8ths</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt4')" id="1opt4">
				<img src="img/three_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">3/8ths</div>
			</div>
		</div>
		<div class="row">
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt5')" id="1opt5">
				<img src="img/four_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">4/8ths</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt6')" id="1opt6">
				<img src="img/five_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">5/8ths</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt7')" id="1opt7">
				<img src="img/six_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">6/8ths</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt8')" id="1opt8">
				<img src="img/seven_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">7/8ths</div>
			</div>
		</div>
		<div class="row">
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt9')" id="1opt9">
				<img src="img/eight_eighths_clouds.png" class="report-image"></img>
        		<div class="report-title">8/8ths</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat1('1opt10')" id="1opt10">
				<img src="img/sky_obscured.png" class="report-image"></img>
        		<div class="report-title">Sky Obscured</div>
			</div>
			<div class="col report-block modal-block-four-wide">

			</div>
			<div class="col report-block modal-block-four-wide">

			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal1()">Cancel</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal1()">Save</button>
	</ion-footer-bar>
</div>
