<div class="modal">
	<ion-header-bar>
		<h1 class="title">{{'PRECIPITATION' | translate}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt1')" id="2opt1">
				<img src="img/light_rain.png" class="report-image"></img>
        		<div class="report-title">{{'LIGHT_RAIN' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt2')" id="2opt2">
				<img src="img/moderate_rain.png" class="report-image"></img>
        		<div class="report-title">{{'MODERATE_RAIN' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt3')" id="2opt3">
				<img src="img/heavy_rain.png" class="report-image"></img>
        		<div class="report-title">{{'HEAVY_RAIN' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt4')" id="2opt4">
				<img src="img/light_snow.png" class="report-image"></img>
        		<div class="report-title">{{'LIGHT_SNOW' | translate}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt5')" id="2opt5">
				<img src="img/moderate_snow.png" class="report-image"></img>
        		<div class="report-title">{{'MODERATE_SNOW' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt6')" id="2opt6">
				<img src="img/heavy_snow.png" class="report-image"></img>
        		<div class="report-title">{{'HEAVY_SNOW' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt7')" id="2opt7">
				<img src="img/freezing_rain.png" class="report-image"></img>
        		<div class="report-title">{{'FREEZING_RAIN' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt8')" id="2opt8">
				<img src="img/heavy_freezing_rain.png" class="report-image"></img>
        		<div class="report-title">{{'HEAVY_FREEZING_RAIN' | translate}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt9')" id="2opt9">
				<img src="img/rain_snow.png" class="report-image"></img>
        		<div class="report-title">{{'RAIN_AND_SNOW' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt10')" id="2opt10">
				<img src="img/heavy_rain_snow.png" class="report-image"></img>
        		<div class="report-title">{{'HEAVY_RAIN_AND_SNOW' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt11')" id="2opt11">
					<img src="img/sleet.png" class="report-image"></img>
					<div class="report-title">{{'SLEET' | translate}}</div>
				</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt12')" id="2opt12">
					<img src="img/ice_needles.png" class="report-image"></img>
					<div class="report-title">{{'ICE_NEEDLES' | translate}}</div>
			</div>
		</div>
    <div class="row">
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt13')" id="2opt13">
				<img src="img/freezing_drizzle.png" class="report-image"></img>
        		<div class="report-title">{{'FREEZING_DRIZZLE' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt14')" id="2opt14">
				<img src="img/thunderstorm.png" class="report-image"></img>
        		<div class="report-title">{{'THUNDERSTORM' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt15')" id="2opt15">
					<img src="img/thunder_snow.png" class="report-image"></img>
					<div class="report-title">{{'THUNDERSNOW' | translate}}</div>
				</div>
			<div class="col report-block modal-block-four-wide" ng-click="selectItemCat2('2opt16')" id="2opt16">
					<img src="img/virga.png" class="report-image"></img>
        		<div class="report-title">{{'VIRGA' | translate}}</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal2()">{{'CANCEL' | translate}}</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal2()">{{'SAVE' | translate}}</button>
	</ion-footer-bar>
</div>
