<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Surface Temperature</h1>
	</ion-header-bar>
	
	<ion-content>
		<div class="list">
			<div class="item item-input-inset item-select">
				<label class="item-input">
					<span class="input-label ">Temperature:</span>
					<input type="number" placeholder="Enter here" ng-model="modal5.inputTemp">
				</label>
				<select ng-model="modal5.selectTemp" id="tempsel" style="font-size:1.5rem;">
					<option selected> &degC </option>
					<option> &degF </option>
				</select>	
			</div>
		</div>
			
			
			
			<!--<span class="input-label input-stacked-label">Category 5</span>
				<div class="row">
					<div class="col item-input"><input type="number"></div>
					<div class="col item-select">
						<select>
							<option selected>&degC</option>
							<option>&degF</option>
						</select>
					</div>
				</div>
			
		</list> -->
	</ion-content>
	<ion-footer-bar>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal5()">Cancel</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal5()">Save</button>
	</ion-footer-bar> 
</ion-modal-view>