<div class="modal">
	<ion-header-bar>
		<h1 class="title">{{'VISIBILITY' | translate}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="row">
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt1')" id="3opt1">
				<img src="img/mist.png" class="report-image"></img>
        		<div class="report-title">{{'MIST' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt2')" id="3opt2">
				<img src="img/patchy_fog.png" class="report-image"></img>
        		<div class="report-title">{{'PATCHY_FOG' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt3')" id="3opt3">
				<img src="img/fog.png" class="report-image"></img>
        		<div class="report-title">{{'FOG' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt4')" id="3opt4">
				<img src="img/ice_fog.png" class="report-image"></img>
        		<div class="report-title">{{'ICE_FOG' | translate}}</div>
			</div>
		</div>
		<div class="row">
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt5')" id="3opt5">
				<img src="img/haze.png" class="report-image"></img>
        		<div class="report-title">{{'HAZE' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt6')" id="3opt6">
				<img src="img/blowing_snow.png" class="report-image"></img>
        		<div class="report-title">{{'BLOWING_SNOW' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide selectable" ng-click="selectItemCat3('3opt7')" id="3opt7">
				<img src="img/smoke.png" class="report-image"></img>
        		<div class="report-title">{{'SMOKE' | translate}}</div>
			</div>
			<div class="col report-block modal-block-four-wide">

			</div>
		</div>
	</ion-content>
	<ion-footer-bar keyboard-attach>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal3()">{{'CANCEL' | translate}}</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal3()">{{'SAVE' | translate}}</button>
	</ion-footer-bar>
</div>
