<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">{{'WIND' | translate}}</h1>
	</ion-header-bar>
	
	<ion-content>	
		<div class="list">
			<div class="item item-input-inset item-select">
				<label class="item-input">
					<span class="input-label ">{{'WIND_SPEED' | translate}}:</span>
					<input type="number" placeholder="{{'ENTER_HERE' | translate}}" ng-model="windModal.inputTemp">
				</label>				
					<select ng-model="windModal.select1Temp" id="wind_sel_units" style="font-size:1.5rem;">
						<option value="k" label=" Knots "> Knots </option>
						<option value="m" label=" mph "> mph </option>
					</select>				
			</div>
		</div>
		
		<label class="item item-input item-select">	
			<span class="input-label">{{'WIND_DIRECTION' | translate}}:</span>
			<select ng-model="windModal.select2Temp">
				<option value="blank" label=" "> </option>
				<option value="north" label=" {{'NORTH' | translate}} "> {{'NORTH' | translate}} </option>
				<option value="northeast" label=" {{'NORTHEAST' | translate}} "> {{'NORTHEAST' | translate}} </option>
				<option value="east" label=" {{'EAST' | translate}} "> {{'EAST' | translate}} </option>
				<option value="southeast" label=" {{'SOUTHEAST' | translate}} "> {{'SOUTHEAST' | translate}} </option>
				<option value="south" label=" {{'SOUTH' | translate}} "> {{'SOUTH' | translate}} </option>
				<option value="southwest" label=" {{'SOUTHWEST' | translate}} "> {{'SOUTHWEST' | translate}} </option>
				<option value="west" label=" {{'WEST' | translate}} "> {{'WEST' | translate}} </option>
				<option value="northwest" label=" {{'NORTHWEST' | translate}} "> {{'NORTHWEST' | translate}} </option>
			</select>
		</label>
	</ion-content>
	<ion-footer-bar keyboard-attach>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal6()">{{'CANCEL' | translate}}</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal6()">{{'SAVE' | translate}}</button>
	</ion-footer-bar> 
</ion-modal-view>