<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Wind</h1>
	</ion-header-bar>
	
	<ion-content>	
		<div class="list">
			<div class="item item-input-inset item-select">
				<label class="item-input">
					<span class="input-label ">Wind Speed:</span>
					<input type="number" placeholder="Enter here" ng-model="windModal.inputTemp">
				</label>				
					<select ng-model="windModal.select1Temp" id="wind_sel_units" style="font-size:1.5rem;">
						<option selected> Knots </option>
						<option> mph </option>
					</select>				
			</div>
		</div>
		
		<label class="item item-input item-select">	
			<span class="input-label">Wind Direction:</span>
			<select ng-model="windModal.select2Temp">
				<option selected> North </option>
				<option> Northeast </option>
				<option> East </option>
				<option> Southeast </option>
				<option> South </option>
				<option> Southwest </option>
				<option> West </option>
				<option> Northwest </option>
			</select>
		</label>
	</ion-content>
	<ion-footer-bar>
		<button class="button button-assertive" style="float: left" ng-click="cancelModal6()">Cancel</button>
		<button class="button button-balanced" style="float: right" ng-click="saveModal6()">Save</button>
	</ion-footer-bar> 
</ion-modal-view>