<ion-popover-view>
	<ion-header-bar>
		<h1 class="title">Map Options</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<ion-toggle ng-model="settings.displayPos.checked" ng-change="displayPosChanged()">Display Position</ion-toggle>
			<ion-toggle ng-model="settings.displayHistory.checked" ng-change="displayHistoryChanged()">Display History</ion-toggle>
			<ion-toggle ng-model="settings.displayReports.checked" ng-change="displayReportsChanged()">Display Reports</ion-toggle>
		</div>
	</ion-content>
</ion-popover-view>