<ion-popover-view>
	<ion-header-bar>
		<h1 class="title">Map Options</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<ion-toggle ng-model="settings.displayPos.checked" ng-change="displayPosChanged()">Display Position</ion-toggle>
			<ion-toggle ng-model="settings.displayHistory.checked" ng-change="displayHistoryChanged()">Display History</ion-toggle>
			<label class="item item-input">
				<span class="input-label">Report Frequency</span>
				<input type="tel" ng-model="settings.reportFrequency">
			</label>
		</div>
	</ion-content>
</ion-popover-view>