<ion-popover-view class="submit">
	<ion-header-bar>
		<h1 class="title">{{'MAP_OPTIONS' | translate}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<ion-toggle ng-model="settings.displayPos.checked" ng-change="displayPosChanged()" style="white-space: pre-wrap">{{'DISPLAY_POSITION' | translate}}</ion-toggle>
			<ion-toggle ng-model="settings.displayHistory.checked" ng-change="displayHistoryChanged()" style="white-space: pre-wrap">{{'DISPLAY_HISTORY' | translate}}</ion-toggle>
			<ion-toggle ng-model="settings.displayReports.checked" ng-change="displayReportsChanged()" style="white-space: pre-wrap">{{'DISPLAY_REPORTS' | translate}}</ion-toggle>
			<ion-toggle ng-model="settings.displayOtherUsers.checked" ng-change="displayOtherUsersChanged()" style="white-space: pre-wrap">{{'DISPLAY_OTHER_USERS' | translate}}</ion-toggle>
			<ion-item style="white-space: pre-wrap">{{'POSITION_HISTORY_START_DATE' | translate}}</ion-item>
			<input style="margin: auto" type="datetime-local" ng-model="settings.displayHistory.startDate" ng-change="displayHistoryStartChanged()"></input>
			<ion-item style="white-space: pre-wrap">{{'POSITION_HISTORY_END_DATE' | translate}}</ion-item>
			<input style="margin: auto" type="datetime-local" ng-model="settings.displayHistory.endDate" ng-change="displayHistoryEndChanged()"></input>
		</div>
	</ion-content>
</ion-popover-view>