<ion-popover-view class="submit">
	<ion-header-bar>
		<h1 class="title">{{'REPORT_SUMMARY' | translate}}</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list">
			<div class="item" id="organization">Organization:</div>
			<div class="item" id="sumcat1">Cloud Cover:</div>
			<div class="item" id="sumcat2">Precipitation:</div>
			<div class="item" id="sumcat3">Visibility:</div>
			<div class="item" id="sumcat4_1">Pressure Trend:</div>
			<div class="item" id="sumcat4_2">Surface Pressure:</div>
			<div class="item" id="sumcat5">Surface Temperature:</div>
			<div class="item" id="sumcat6">Wind Speed:</div>
			<div class="item" id="sumcat6_3">Wind Direction:</div>
			<div class="item" id="sumcat9">Other:</div>
			<div class="item multiline" style="white-space: pre-wrap" id="sumcat7">Notes:</div>
			<div class="item" id="sumcat8">
				<img src=""></img>
			</div>
									
		</div>
	</ion-content>
	<ion-footer-bar class="popover-footer-bar">
		<button class="button button-block button-large button-balanced" ng-click="submitReport()">{{'SEND_REPORT' | translate}}</button>
	</ion-footer-bar>
</ion-popover-view>